@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  font-family: Raleway;
  background: rgb(219, 193, 251);
}

.contentContainer {
  margin: auto;
  max-width: 600px;
  text-align: center;
  background-color: white;
  border: 1px solid;
  padding: 20px;
}

#quote {
  font-size: 24px;
}

#generateQuoteButton {
  margin-right: 20px;
  cursor: pointer;
}

#generateTwitterButton {
  margin-left: 20px;
  cursor: pointer;
}

#by {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
}
