body {
  font-family: Sans-serif;
}

.contentContainer {
  margin: auto;
  margin-top: 100px;
  height: 300px;
  width: 600px;
  border: 1px solid;
  text-align: center;
}

#quote {
  margin-top: 50px;
}

#quoteAuthor {
  margin-bottom: 100px;
}

#twitterButton {
  padding: 12px 15px 12px 15px;
  margin-right: 100px;
}

#generateQuoteButton {
  padding: 12px 15px 12px 15px;
  margin-left: 100px;
}

#by {
  text-align: center;
}
